.button {
	display: inline-block;
	padding: 5px 15px;
	font-size: 14px;
	line-height: 1;
	color: white;
	background: var(--green);
	border: 1px solid black;
	border-radius: 5px;
	height: 30px;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
}

.button:hover {
	background: var(--dark-green);
}

.button:focus {
	outline: 1px solid var(--charcoal-gray);
}
