:root {
	--dark-green: #0a2b31;
	--teal: #0b5969;
	--sand: #f2f0e1;
	--clay-3: #494d52;
	--sand-3: #e9e9e9;
	--clay-4: #373b3f;
	--clay-2: #52565b;
	--sand-2: #e5e5e5;
	--black-for-wheat: #151515;
	--wheat: #ead2ad;
	--label-borders: #aeb0b3;
	--light-grey: #cdced0;
	--m-background: #282a2e;
	--e2: #e2e2e2;
	--clay-1: #676c73;
	--clay-5: #232629;
	--hmblue: #1dd1f8;
	--oems: #837cd2;
	--green-box-background: #094552;
	--ivory: #f2f0e1;
	--teal-light: #168fa8;
	--green-yellow: #d2fd3c;
	--maintenance-theme: #f3c4c7;
	--warning: #eb601e;
	--insurance: #ffd9a3;
	--newred: #de3b3b;
	--logbook-theme: #cee5ff;
	--ev-theme: #c4d6ac;
	--sienna: #b24f1f;
	--error-text: #b05e5d;
	--error-message-bg: #ebd6d6;
	--burntsienna: #c87c5c;
	--dark-grey: #92a08e;
}
