.textField {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.inputs {
	max-width: 300px;
	width: 100%;
	padding: 5px;
	border-radius: 5px;
	border: 1px solid var(--dark-green);
}

.inputs:focus {
	border: 1px solid white;
	outline: 1px solid var(--teal);
}

.error {
	font-size: 1rem;
	color: red;
}
